@model IEnumerable<RequestTemplate.Models.WorkFlow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File5)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
